name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

jobs:
  pack:
    name: Check dist/ is up-to-date
    runs-on: ubuntu-latest

    steps:
      - uses: honeycombio/gha-buildevents@v1
        with:
          apikey: ${{ secrets.BUILDEVENTS_APIKEY }}
          dataset: gha-buildevents_integration
          job-status: ${{ job.status }}

      - uses: actions/checkout@v2

      - run: npm ci
      - run: npm run build
      - run: npm run pack

      - name: Verify no changes were made
        run: |
          if ! git diff --quiet; then
            echo "Changes detected! Please run 'npm run all' before committing code changes."
            exit 1
          fi

  lint-format:
    name: Lint & format
    runs-on: ubuntu-latest

    steps:
      - uses: honeycombio/gha-buildevents@v1
        with:
          apikey: ${{ secrets.BUILDEVENTS_APIKEY }}
          dataset: gha-buildevents_integration
          job-status: ${{ job.status }}

      - uses: actions/checkout@v2

      - run: npm ci
      - run: npm run lint
      - run: npm run format-check
