name: Integration Failure
on:
  push:

jobs:
  integration:
    name: Integration Failure
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Buildevents
        uses: ./
        with:
          apikey: ${{ secrets.BUILDEVENTS_APIKEY }}
          dataset: gha-buildevents_integration
          job-status: ${{ job.status }}

      - run: echo "STEP_ID=0" >> $GITHUB_ENV
      - run: buildevents cmd $BUILD_ID $STEP_ID sleep -- sleep 1
      - run: buildevents cmd $BUILD_ID $STEP_ID 'failing step' -- exit 1
