name: Integration Failure

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:

jobs:
  integration:
    name: Expected Failure
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Buildevents
        uses: ./
        with:
          apikey: ${{ secrets.BUILDEVENTS_APIKEY }}
          job-status: ${{ job.status }}

      - run: echo "STEP_ID=0" >> $GITHUB_ENV
      - name: Sleepy Time
        run: buildevents cmd $TRACE_ID $STEP_ID sleep -- sleep 1
      - name: Expected Failure
        run: buildevents cmd $TRACE_ID $STEP_ID 'failing step' -- exit 1
